<p style="color: green"><%= notice %></p>
<%= render "shared/header", title: 'Entities', navPath: groups_path %>

<div id="entities">
  <% @entities.each do |entity| %>
    <div class="entity">
      <%= entity.name %>
      <p>$<%= entity.amount %></p>
    </div>
  <% end %>
</div>

<footer>
  <%= link_to "New entity", new_group_entity_path, class: 'footer-btn' %>
</footer>
