<header>
  <%= link_to "<-", splash_screen_path, class: 'go-back' %>
  <h1 class="title">Log in</h1>
  <%= link_to "signup", new_user_registration_path, style: 'color: white' %>
</header>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: 'label' %> <br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'label' %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
  </div>

  <%# if devise_mapping.rememberable? %>
<!--    <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= link_to "Forgot your password?", new_password_path(resource_name) %>

<style>
  input {
    margin-bottom: 0;
  }
</style>
